@import "tailwindcss";

@theme {
  --color-bg-primary: #173c2e;
  --color-font-hero: #d3af38;
  --color-hover-button: #a9812e;
  --color-font-primary: #fff;
  --color-btn-primary: #0fb981;
  --color-font-secundary: #10182a;
  --color-bg-asks: #b9c4bb;
  --color-bg-silver: #eef0ea;
  --color-text-sug: #c9d2cc;
  --color-text-btn: #16332a;
  --color-hover-btn: #b3872f;
}
